<div>
<div class="form-inline" ng-repeat="filter in filters">
    <div class="form-group">
        <select class="form-control" ng-model="filter.filter" ng-options="filterType.value as filterType.name for filterType in filterTypes" />
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="filter.field" ng-options="field.value as field.name for field in fields" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="filter.value" />
    </div>
    <div class="form-group"><span class="glyphicon glyphicon-remove-circle" ng-click="remove($index)"></span></div>
</div>
<button type="button" class="btn btn-default" ng-click="add()">Dodaj filtr</button>
</div>
<h4 ng-repeat-start="field in select">{{field.name}}</h4>
<div class="btn-group" ng-repeat-end="">
    <label ng-repeat="option in field.options" class="btn btn-success" ng-model="field.selected" btn-radio="option" uncheckable>{{option.name}}</label>
</div>
